html {
    scroll-behavior: smooth;
}
body {
    height: 100%;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
.none {
    display: none;
}

/*header*/

.header {
    width: 100%;
}
.wrapper {
    padding-top: 25px;
    padding-bottom: 193px;
    background-image: url(images/bg/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}
.container {
    width: 1170px;
    margin: 0 auto;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo {
    margin-right: auto;
}
.nav-list {
    margin: 0 auto;
}
.nav-item {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 2;
    color: #FFFFFF;
    text-decoration: none;

    margin-right: 20px;
}
.nav-item:last-child {
    margin-right: 0px;
}
.nav-item:hover {
    color: #EB5757;
}
.nav-btn {
    padding: 15px 30px;
    text-decoration: none;
    border: 2px solid #EB5757;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 1;
    color: #FFFFFF;
    margin-left: auto;
}
.mobile-nav {
    display: none;
}
.nav-btn:hover {
    background: #EB5757;
}
.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text {
    margin-top: 121px;
    width: 665px;
}
.header-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 90px;
    color: #FFFFFF;
}
.header-p {
    margin-top: 10px;
    margin-bottom: 47px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
    width: 500px;
}
.header-button {
    background: #EB5757;
    border-radius: 50px;
    font-family: 'Poppins';
    font-style: normal;
    gap: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 15px 30px;
    text-decoration: none;
}
.header-button:hover {
    background: rgba(235, 87, 87, 0.5);
}
.header-img {
    margin-left: auto;
}
.header-arrows {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

/*main*/

.platform {
    padding-bottom: 108px;
}
.platform-title {
    text-align: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #171717;
}
.platform-content {
    margin-top: 60px;
    justify-content: center;
    display: flex;
}
.content-card {
    margin-right: 139px;
}
.content-card:last-child {
    margin-right: 0px;
}
.card-content-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 14px;
    color: #000000;
}
.cardcontent-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;
    color: #000000;
}


/*download*/

.download {
    background: #1B004E;
    padding-top: 110px;
    padding-bottom: 101px;
}
.download-content {
    display: flex;
    align-items: center;
}
.download-text {
    width: 633px;
}
.download-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 14px;
}
.download-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    color: #FFFFFF;
    width: 500px;
    margin-bottom: 50px;
}
.m-download-buttons {
    display: none;
}
.d-btn {
    margin-right: 30px;
}
.d-btn:last-child {
    margin-right: 0px;
}
.download-img {
    margin-left: auto;
}






.learn {
    background: #FFF6FB;
    padding-top: 100px;
    padding-bottom: 110px;
}
.learn-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 32px;
    color: #000000;
    text-align: center;
    margin-bottom: 60px;
}
.learn-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}
.learn-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(203, 203, 203, 0.25);
    border-radius: 10px;
    text-decoration: none;
    margin-right: 33px;
}
.learn-card:last-child {
    margin-right: 0px;
}
.l-card-text {
    margin-left: 19px;
    justify-content: center;
}
.l-card-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.learn-card-p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    width: 330px;
    letter-spacing: 0.03em;
    color: #4F4F4F;
}
.subscribe {
    padding-top: 92px;
    padding-bottom: 110px;
    background-color: #1B004E;
    background-image: url(images/bg/shapes.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
.subscribe-content {
    text-align: center;
}
.sub-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 14px;
    color: #FFFFFF;
}
.sub-p {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.subscribe-input {
    display: flex;
    margin: 0 auto;
    width: 578px;
    padding: 6px 5px;
    border: 1px solid #FFFFFF;
    border-radius: 37px;
    margin-top: 50px;
}
.sub-input {
    border: none;
    background: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}
.sub-input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
.sub-btn {
    margin-left: auto;
    border: none;
    padding: 19px 26px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    background: #EB5757;
    border-radius: 31px;
}
.sub-btn:hover {
    background: rgba(235, 87, 87, 0.5);;
}
.footer {
    background-size: 100%;
    padding-top: 81px;
    background: linear-gradient(45deg, #220076, #4E0062);

}
.footer-content {
    border-bottom: 1px solid #BCBCBC;
    justify-content: center;
    padding-bottom: 80px;
    display: flex;
}
.mobile-content {
    display: flex;
    margin-right: 140px;
}
.mobile-content:last-child {
    margin-right: 0px;
}
.f-content-item:last-child {
    margin-right: 0px;
}
.f-content-item {
    margin-right: 140px;
}
.footer-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
.footer-item {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 260%;

    color: #E6E6E6;

    opacity: 0.8;
}
.footer-item:hover {
    color: #EB5757;
    opacity: 0.8;
}
.footer-nav {
    display: flex;
    margin-top: 36px;
    align-items: center;
}
.copyright {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #BCBCBC;
}
.m-copyright {
    display: none;
}
.socials {
    margin-left: auto;
}
.s-item {
    margin-right: 17px;
}
.s-item:last-child {
    margin-right: 0px;
}